<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

</head>
<body>
<div id="background"></div>
<div id="background-2"></div>
<a href="/">
    <div id="title">
        <div id="main-title"><p class="main-text title-text">Aliens</p></div>
        <div id="sub-title"><p class="main-text sub-text">explore the world of strangers</p></div>
    </div>
</a>

<div class="block-big">
    <div class="sub-block">
        <p class="text-name">{{ name }}</p>
        {% from "_formhelpers.html" import render_field %}

        <form method=post>
            {{ render_field(form.person) }}
            {{ render_field(form.ship) }}
            {% if form.datetime_ %}
            {{ render_field(form.datetime_) }}
            {% endif %}
            <p><input type=submit class='submit-button' value='Submit'>

        </form>
    </div>
</div>

</body>
</html>